<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>模板管理</title>

<link rel="stylesheet" type="text/css"
	href="../../plugin/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="../../plugin/bootstrap/css/bootstrap-select.min.css" />
<link rel="stylesheet"
	href="../../plugin/bootstrap/css/bootstrap-tree-view.css" />
<link rel="stylesheet"
	href="../../plugin/bootstrap/css/bootstrap-table.min.css" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
</head>
<body>
	<div id="typeTemplate_app">
		<div id="typeTemplate_tool">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default"
					@click="typeTemplate_openAddModal()">添加</button>
				<button type="button" class="btn btn-default"
					@click="typeTemplate_openEditModal()">编辑</button>
				<button type="button" class="btn btn-default"
					@click="typeTemplate_delete()">删除</button>
			</div>
		</div>
		<table id="typeTemplate_table"></table>

		<!-- Modal -->
		<div class="modal fade" id="typeTemplate_addModal" tabindex="-1"
			role="dialog" aria-labelledby="typeTemplate_addModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">{{typeTemplate_addOrEditTitle}}</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<input type="hidden" v-model="typeTemplate.id">
								<label class="col-md-4" for="typeTemplate_name">商品类型</label>
								<div class="col-md-8">
									<input class="form-control" id="typeTemplate_name"
										v-model="typeTemplate.name">
								</div>
							</div>

							<div class="row">
								<label class="col-md-4">关联品牌</label>
								<div class="col-md-8">
									<select id="brandSel"   class="selectpicker" data-live-search="true" multiple>
										<option v-for="brand in brandList" :value="toJsonString(brand)">{{brand.text}}</option>
									</select>
								</div>
							</div>
							
							<div class="row">
								<label class="col-md-4">关联规格</label>
								<div class="col-md-8">
									<select id="specSel" class="selectpicker" data-live-search="true" multiple>
										<option v-for="spec in specList" :value="toJsonString(spec)">{{spec.text}}</option>
									</select>
								</div>
							</div>

							<div class="row">
								<label class="col-md-4">扩展属性</label>
								<div class="col-md-8">
									<button class="btn btn-deafult" @click="addCustomSpec()">新增扩展属性</button>
									<table class="table">
										<thead>
											<tr>
												<th>属性名称</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="customSpec in customSpecList">
												<td><input class="form-control" v-model="customSpec.text"></td>
												<td><button class="btn btn-deafult" @click="deleteCustomSpec(customSpec)">删除</button></td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							@click="typeTemplate_addOrEdit()">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>

	</div>


	<script type="text/javascript" src="../../plugin/jquery-3.4.1.js"></script>

	<!-- bootstrap -->
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/bootstrap-treeview.min.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/bootstrap-table.min.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/bootstrap-table-resizable.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/bootstrap-select.min.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/messenger.js"></script>
	<script type="text/javascript"
		src="../../plugin/bootstrap/js/colResizable-1.6.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../../custom/js/common.js"></script>
	<script type="text/javascript"
		src="../../custom/js/page/brand/typeTemplate.js"></script>

</body>
</html>