<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.skysigh.lulu.admin.dao.UserDao">

	
	<select id="getUserById" resultType="org.skysigh.lulu.admin.po.User">
		select * from tb_user where
		id=#{id}
	</select>
	
	<select id="findUserByAccount" resultType="org.skysigh.lulu.admin.po.User">
		select * from tb_user where
		username=#{username}
	</select>

	<insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="org.skysigh.lulu.admin.po.User">
		INSERT INTO tb_user (username,
		password) VALUES (#{username}, #{password});
	</insert>
	
	<delete id="delete">
		DELETE FROM tb_user WHERE id in
		<foreach item="item" index="index" collection="array" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

</mapper>